{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    <hr>
    {{ news|length }}
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации </td>
                <td>Содержимое</td>
            </tr>
            {% for post in news %}
            <tr>
                <td> {{ post.title|censor }} </td>
                <td> {{ post.dateCreation }} </td>
                <td> {{ post.text|truncatechars:20|censor }} </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}